.header {
    display:flex;
    width: 100%;
    height: 500px;
    background: tomato; 
    justify-content: center;
    align-items: center;

}

h1 {
    color:white;
    font-family: 'Courier New', Courier, monospace;
}
.header-principal {
    width:50%; 

}